<% provide(:title, 'About') %>
<h1>About Me
<img src="/assets/pixelme.png" alt="me.png" width="255px" height="419px" />
</h1>
<p>
    My name is Loran Briggs and I am a junior rails devloper.<br>
    At this point I am self taught and extremley motivated.<br>
    Many nights I spend the late hours reading and coding<br>
    long past when most people go to bed.<br><br>
    I find I learn best by experience.<br>
    I read an article and then do the activity it explains.<br>
    Simply reading does not commit knowlegde to memroy and even less is understood.
</p>
