<% provide(:title, 'Home') %>
<div class="hero-unit">
    <h1>Welcome to MicroTweet</h1>
    <p>
        This is a small Twitter like web app.
        It is not intended to rival Twitter in no way.
        It's just a demo of some of the work I am doing.
    </p>
    <p>
        There's rumors that CIA agents use this site for covert 
        comminications over the open web.
        These are rumors of course, crazy talk!
    </p>
<div class="center">
    <%= link_to "Sign up now!", signup_path, :class => "btn btn-large btn-primary" %>
</div>
</div>
    <p>
        Want a Twitter world of your own? 
        Want customers to talk and rave about your product?<br>
        Then sign up to start your own Twitter-verse today!</p>
    <b>Benifiets:</b><br>
    <ul>
        <li>Get your customers talking!</li>
        <li>Get instant feed back on your product!</li>
        <li>Support group for your product:
            <ul>
                <li>Employees respond with expert advice.</li>
                <li>Peer-to-peer help</li>
            </ul>
        </li>
    </ul>
