@font-face{
    font-family: Gcursive;
    src: url("../fonts/GCursiv2.ttf");
}

@font-face{
    font-family: GcursiveIE;
    src: url("../fonts/GCursiv2.eot");
}

body{
    border-top: 10px #8CC84B solid;
    padding-top: 5%;
    margin: 0;
    background: #46483E;
    font-family: Verdana, Tahoma, sans-serif;
}
h1, h3{
    font-family: Gcursive, GcursiveIE, Times, serif;
}

